/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i{
    font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
}
/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section:not(.featured-articles){
    padding-block: 5rem;
}

.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}
/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

/* Search */
.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
}

.form-container-inner .gform{
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn{
    display: inline-block;
    outline: none;
    border: 2px solid var(--secondary-background-color);
    padding: 1.5rem;
    color: var(--light-color-alt);
}

.form-input{
    border-right: none;
    width: 100%;
    background-color: var(--primary-background-color);
}

.form-btn{
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--secondary-background-color);
    text-transform: uppercase;
    width: 8rem;
}

.form-note{
    font-size: var(--font-size-xsm);
    align-self: flex-end;
}

.form-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
    display: flex;
}

.form-container-inner .search-results-container {
    /* border: .2rem solid #f1f1f1; */
    position: relative;
    background: rgba(184, 184, 184,.2);
    border-radius: 10px;
    width: 100%;
    height: 30rem;
    overflow: auto;
    opacity: 0;
    visibility: 0;
    transition: .3s linear;
}

.form-container-inner .search-results-container::-webkit-scrollbar {
    width: 1.5rem;
    background: rgba(184, 184, 184,.2);
    border-radius: 20px;
}

.form-container-inner .search-results-container::-webkit-scrollbar-thumb {
    background: rgba(184, 184, 184,.7);
    border-radius: 20px;
}

.form-container-inner .search-results-container a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.form-container-inner .search-results-container a:hover {
    background: rgba(184, 184, 184,.6);
}

.form-container-inner .search-results-container a img {
    width: 40px;
    height: 45px;
    border-radius: 5px;
    margin: 0 1.5rem;
}

.form-container-inner .search-results-container a .result-content {
    color: var(--light-color); 
}

.form-container-inner .search-results-container a .result-content h6 {
    font-size: var(--font-size-sm);
}

.form-container-inner .search-results-container a .result-content p {
    color: rgba(255, 255, 255,.7);
    display: flex;
    justify-content: space-between;
}

.form-container-inner .search-results-container a .result-content p span {
    margin: 0 1rem;
    font-size: 1rem;
}
/* Form JavaScript styles */
.search-form-container.activated{
    opacity: 1;
    transform: scale(1);
}

/* Featured articles */
.featured-articles{
    padding-block: 2rem;
}

.section-header-offset{
    margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
}

.headline{
    background-color: #000;
    color: var(--light-color);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px;
    height: 100%;
}

.headline span{
    height: inherit;
}

.fancy-border{
    position: relative;
    overflow: hidden;
}

.fancy-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    background-color: var(--secondary-background-color);
    padding: .6rem 1.5rem;
}

.article{
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color:var(--primary-background-color);
    font-size: 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    transition: background-color .5s;
}

/* Light theme color hover styles */
.article:hover .article-data-container{
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer{
    background-color: var(--hover-light-color);
}

.article:hover .article-title{
    color: var(--hover-light-color);
}


.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}

.title{
    color: var(--light-color);
}

.article-title{
    font-size: var(--font-size-md);
}

/* Sidebar */
.sidebar{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.trending-news-box{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block: 2rem;
    border-bottom: 1px solid var(--transparent-light-color);
}

.trending-news-box:last-of-type{
    border-bottom: none;
}

.featured-content-title{
    font-size: var(--font-size-md);
    text-align: center;
    padding: 1rem;
}

.trending-news-img-box{
    position: relative;
    width: 100%;
    height: var(--item-min-height-sm);
}

.trending-number{
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    border-radius: 50%;
}

.trending-news-data .article-title{
    font-size: var(--font-size-sm);
}

.trending-news-box:hover .article-title{
    color: var(--light-color-alt);
}

/* Quick read */
.section-title{
    position: relative;
    font-size: var(--font-size-md);
    margin-bottom: 6rem;
}

.section-title::after{
    content: attr(data-name);
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.article.swiper-slide{
    height: 40rem;
}

/* Quick read - Swiper */
.swiper-wrapper{
    height: auto;
}
.swiper-controls{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--secondary-background-color);
}

.swiper-controls::after{
    font-size: 1.6rem;
    color: var(--light-color);
}

.swiper-pagination{
    bottom: .5rem !important;
}

.swiper-pagination-bullet{
    background-color:var(--light-color);
}

/* Older posts */
.older-posts-grid-wrapper{
    gap: var(--gap);
}

.older-posts-article-image-wrapper,
.older-posts .article{
    min-height: var(--item-min-height-sm);
}

.older-posts .article{
    background-color: var(--secondary-background-color);
}

.older-posts-article-image-wrapper{
    position: relative;
}

.older-posts-grid-wrapper .article-data-container{
    position: static;
    background-color: transparent;
}

.older-posts-grid-wrapper .article-title{
    margin-bottom: var(--margin-sm);
}

.see-more-container{
    padding-top: var(--margin-md);
}

.see-more-btn{
    text-transform: uppercase;
}

.see-more-btn:hover{
    color: var(--light-color);
}

.see-more-btn i{
    transition: transform .25s;
}

.see-more-btn:hover i{
    transform: translateX(.5rem);
}

/* Popular tags */
.popular-tags-container{
    gap: var(--gap);
}

.popular-tags-container .article{
    min-height: var(--item-min-height-sm);
}

.tag-name{
    padding: 1rem 2rem;
    background-color: var(--transparent-dark-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.popular-tags-container .article:hover .tag-name{
    color: var(--light-color);
}

.popular-tags-container .article{
    overflow: hidden;
}

.popular-tags-container .article:hover .article-image{
    transform: scale(1.05);
}

/* Newsletter */
.newsletter{
    padding-bottom: 6rem;
}

.newsletter-title{
    font-size: var(--font-size-lg);
}

.newsletter-description{
    margin-bottom: 3rem;
}

/* Footer */
.footer{
    background-color: var(--secondary-background-color);
}

.footer-container{
    gap: var(--gap);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}

.social-media{
  margin: var(--margin-md) auto; 
  width: 70%;
  align-items: center;
}

.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.footer-title{
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #3f4254;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2e303b;
}
  
/* Blog post */
.blog-post{
    padding-bottom: 5rem;
}

.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 6rem); 
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%;
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.quote{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.quote p{
    font-style: italic;
}

.quote span{
    font-size: 4rem;
}

.author{
    margin-top: 5rem;
    gap: var(--gap);
}

.author{
    background-color: var(--secondary-background-color);
}

.author-image-box{
    position: relative;
    height: var(--item-min-height-md);
    background-color: var(--secondary-background-color);
}

.about-image-box{
    width: 40%;
    margin: 4rem 1rem;
}

.about-s-content {
    gap: var(--gap);
    width: 60%;
    align-items: center;
}

.about-s-content .content-title {
    font-size: var(--font-size-md);
    text-transform: uppercase;
    color: #5d5d5d;
}

.about-s-container {
    align-items: center;
}

.about-s-title .author-name {
    text-transform: uppercase;
    font-size: var(--font-size-md);
    margin-bottom: 2rem;
    font-weight: 600;
}


.about-s {
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    display: flex;
}

.about-image-box .about-image {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

.org-link:hover a {
    font-size: 2rem;
}

.author-about{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.author-contact {
    background-color: var(--secondary-background-color);
    gap: var(--gap);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-name{
    color: var(--light-color);
    font-weight: 400;
}

.author-contact .author-name.contact-title {
    font-size: 2rem;
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: 500;
}

.author-contact form {
    width: 80%;
    text-align: center;
}

.author-contact form .input-box {
    display: flex;
    justify-content: space-between;
    }

.field .item {
    width: 100%;
    padding: 2rem;
    background: transparent;
    border: .1rem solid #0ef;
    outline: none;
    border-radius: 6px;
    color: var(--light-color);
    font-size: 1rem;
    margin: 1rem 0;
}

.field input {
    height: 2rem;
}

.thankyou_message {
    font-size: var(--font-size-sm);
    padding: 1rem;
    margin-top: 1.5rem;
    border: .1rem solid #0ef;
    border-radius: 6px;
}


.author-contact form button {
    padding: 1rem 2rem;
    background-color: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 1rem #0ef;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: .5s;
    color: var(--light-color);
}

.author-contact form button:hover {
    box-shadow: none;
}

.field .error-text {
    font-size: 1.5rem;
    color: #d93025;
    text-align: left;
    margin: -5 0 3rem;
    display: none;
}

.field.error .item {
    border-color: #d93025;
}

.field.error .error-text {
    display: block;
}

.author-contact form .textarea-field .error-text {
    margin: -10px;
}

.input-box .input-field {
    width: 48.5%;
}

.author-about p{
    max-width: 50rem;
    margin-bottom: 1rem;
}

.author-about .social-media{
    margin-top: auto;
    margin-bottom: 0;
}

.category-text {
    background-color: var(--secondary-background-color);
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
}

.category-text .content-title {
    color: var(--light-color);
    margin: auto;
    padding: 1rem;
}

/* Quote */ 
.quote-container {
    width: 80%;
    box-shadow: 0 2rem 3rem 0 var(--light-color); 
    border-radius: 10px;
}
.quote-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quote-box .quote-title {
    font-size: var(--font-size-md);
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
}

.quote-box .quote-title::after {
    content: '';
    width: 15rem;
    height: .4rem;
    border-radius: 3px;
    background: rgba(24, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote-box .quote-text {
    font-size: var(--font-size-sm);
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
}

.quote-box .quote-author {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    position: relative;
    float: right;
    margin-left: 80%;
}

.quote-box .quote-author::before {
    content: '';
    width: 2rem;
    height: .4rem;
    background: rgba(24, 124, 229);
    position: absolute;
    top: 50%;
    left: -24px;
    border-radius: 10px;
}



.quote-box .quote-btn {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.quote-box .quote-btn button {
    background: rgba(22, 124, 229);
    color: var(--light-color);
    border-radius: 25px;
    border: 1px solid rgba(22, 124, 229);
    width: 11rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    cursor: pointer;
}

.quote-box .quote-btn button:nth-child(2) {
    background: transparent;
}

.quote-details {
            display: none;
            margin: auto;
            padding: 1rem;
            background: transparent;
            border-radius: 10px;
            border: 1px solid rgba(22, 124, 229)
        }
.quote-details p {
    width: 100%;
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--light-color);
}

.quote-details p #quoteDate {
    font-size: var(--font-size-sm);
}

.quote-details p #quoteAuthor {
    font-size: var(--font-size-sm);
}

.quote-in-about {
    width: 70%;
    font-style: italic;
}

.container .faq-wrapper {
    text-align: center;
    gap: var(--gap);
}

.container .faq-wrapper .faq {
    background-color: var(--secondary-background-color);
}

.container .faq-wrapper .faq .faq-btn {
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    font-weight: bold;
    border-bottom: solid 1.5rem #add8e6;
}

.container .faq-wrapper .faq .faq-btn i {
    font-size: 4rem;
}

.container .faq-wrapper .faq p {
    margin: 1.5rem 1rem;
    text-align: left;
}

.container .faq-wrapper .faq p:hover {
    color: var(--light-color);
}

.container .faq-wrapper .faq .panel {
    display:  none;
    line-height: 1.4;
}

.faq-btn {
    transition: .5s;
}

.active, .faq-btn:hover {
    color: var(--light-color);
}

.container .faq-wrapper .faq {
    border: .1rem solid rgba(0,0,0,.4);
}

.container .faq-wrapper .faq.active {
    border: none;
}

/* Elements */
.element-links {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
    margin-left: auto;
    transition: .5s;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #0ef;
    text-transform: uppercase;
}

.element-links:hover {
    border-bottom-color: var(--light-color);
} 

.element-links:hover i {
    transform: scale(1.5);
}

/* MailChimp Form CSS */

#mc-embedded-subscribe-form {
    padding: 1rem;
    background: transparent;
}

/* Content Link */

.content-link {
    color: var(--light-color);
    font-style: italic;
    font-weight: 600;
    transition: .5s;
}
 
.content-link:hover {
    font-size: 1.7rem;
    color: #0000ff;
}
/* Buy Me a Cofee */
.cofee-container {
    background-color: var(--secondary-background-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.mobile-show {
    border: .1rem solid #0ef;
    margin-bottom: 4rem;
}

.cofee-btn {
    border-bottom: solid 2px #0ef;
    display: flex;
    justify-content: center;
    color: var(--light-color);
    font-weight: 700;
    padding: 1rem;
    font-size: 2rem;
}

.cofee-link {
    display: flex;
    justify-content: space-between;
    transition: .5s;
}

.cofee-link:hover i {
    transform: scale(1.5);
    margin-left: 1rem;
}

    /* nonprofit motto */
.nonprofit-motto {
        width: 70%;
        font-style: italic;
        margin-bottom: 2rem;
    }

        
/* media screens */
@media screen and (max-width: 700px) {

    /* MailChimp */
    #mc_embed_shell { 
        display: flex;

    }

    /* Cofee */
    .cofee-link {
        font-size: var(--font-size-sm);
    }

    .cofee-btn {
        font-size: var(--font-size-sm);
        width: 100%;
    }

    .support-mobile-money {
        padding: 1rem;
        gap: var(--gap);
    }

    .support-mobile-money div h3 {

        font-size: var(--font-size-sm);
    } 


   /* nonprofit */
    .nonprofit-motto {
        width: 80%;
    }


   
    .about-s-content {
        width: 100%;
    }
    .about-s {
        flex-direction: column;
        align-items: center;
        order: 1;
    }

    .about-image-box {
        width: 60%;
    }

    .quote-in-about {
        width: 80%;
    }

    .author-contact form {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
        align-items: left;
    }

.author-contact form .input-box {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    }

    .field .item {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    }

    .input-field.field input {
    margin: 1rem 0;
    width: 100%;
    height: 1rem;
    }

    .field .error-text {
    font-size: 1rem;
    }

}

@media screen and (max-width: 340px) {

.quote-box .quote-btn button {
        font-size: 1rem;
    }

    .quote-box .quote-author {
    display: block;
    font-size: 1rem;
}

.quote-box .quote-author::before {
    left: -28px;
}

.field .item {
    width: 40vw;
}

.input-field.field input {
    width: 50vw;
}

.field .item {
    font-size: 1rem;
}


}




@media screen and (min-width: 700px) {

    .field .item {
        font-size: var(--font-size-sm);
    }

    .author-contact form button {
        font-size: var(--font-size-md);
    }

    .field input {
        height: 5rem;
    }

    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-img-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }
    
    .newsletter-description{
        max-width: 40rem;
    }

    .form-container-inner{
        align-items: center;
    }

    .popular-tags-container,
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .company-data{
        order: 0;
    }

    .author{
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (min-width: 768px) {

    .about-image-box {
        height: 47rem;
    }
    

    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner{
        grid-column: 1/-1;
        font-size: var(--font-size-sm);
    }
    
    .featured-article{
        grid-column: 3/-1;
        grid-row: 2/4;
    }

    .featured-article-1{
        grid-column: 1/3;
    }
    
    .featured-article-3{
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .older-posts .article{
        grid-template-columns: 25rem 1fr;
        
    }

    .older-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img{
        height: var(--item-min-height-md);;
    }
}

 @media screen and (min-width: 1024px) {
    

     .about-image-box {
         height: 50rem;
     }
     .menu {
         position: initial;
         width: initial;
         padding: initial;
         background: transparent;
         opacity: initial;
         transform: initial;
     }

      .list-link.nonprofit {
         display: none;
     }

     .menu > .list {
         flex-direction: row;
     }

     .screen-lg-hidden {
         display: none;
     }

     .screen-sm-hidden {
         display: block;
     }

     .sign-up-btn {
         padding: .4rem;
     }

     .btn.fancy-border:hover::before {
        animation: animate_border .75s linear infinite; 
     }

     @keyframes animate_border {
         to{
             transform: translateX(-50%);
         }
     }

     .featured-articles-container {
         grid-template-columns: 1fr 40rem;
     }

     .trending-news-img-box {
         width: 10rem;
         height: 10rem;
     }

     .popular-tags-container {
         grid-template-columns: repeat(3, 1fr);
     }

     .footer-container {
         grid-template-columns: repeat(5, 1fr);
     }

     .company-data {
         grid-column: span 2;
     }

     .company-description {
         max-width: 85%;
     }

     .copyright-notice {
         margin-top: auto;
     }
     

     .blog-post-data img {
         height: 40rem;
     } 


 }

 @media screen and (min-width: 1200px) {
     .older-posts-grid-wrapper {
         grid-template-columns: repeat(2, 1fr);
     }
 }

 @media screen and (min-width: 1500px) {
     .featured-article {
         grid-column: 3/-1;
     }

     .featured-article-1 {
         grid-column: 1/3;
         grid-row: 2/-1;
     }
 }
